<form method="post" action="{{ path('app_ajouter_villes_delete', {'id': ville.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette ville ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
    <button class="btn btn-danger ms-2">Supprimer</button>
</form>
