{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">Ville</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ ville.nomVille }}</td>
                    </tr>
                    <tr>
                        <th>Code Postal</th>
                        <td>{{ ville.codePostal }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <a class="btn btn-primary ms-2" href="{{ path('app_ajouter_villes_index') }}">Liste des villes</a>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary ms-2" href="{{ path('app_ajouter_villes_edit', {'id': ville.id}) }}">Modifier</a>
        {% endif %}
    </div>
{% endblock %}
