{% extends 'base.html.twig' %}

{% block title %}Import Users{% endblock %}

{% block body %}
    <h1>Import Users from CSV</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
