
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

.idea
migrations/Version20240827083311.php
migrations/Version20240827083311.php
migrations/Version20240827122347.php
migrations/Version20240827083311.php
migrations/Version20240827083311.php
/migrations
migrations/Version20240827083311.php
migrations/Version20240827083311.php
public/uploads/photos/66d18d8edb16e.png
public/uploads/photos/66d17d439153a.png
public/uploads/photos/66d17bb1806d8.jpg
public/uploads/photos/66d17afcd72ad.jpg
public/uploads/csv/users_import_66d1b9ec1cb34.txt
public/uploads/csv/users_import_66d1b61b07e14.txt
