<form method="post" action="{{ path('app_sorties_delete', {'id': sortie.id}) }}" onsubmit="return confirm('Vous voulez supprimer la sortie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
    <button class="btn btn-danger ms-2">Supprimer</button>
</form>
