{% extends 'base.html.twig' %}

{% block title %}Edit Sorties{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">Modifier la sortie</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                {{ include('sorties/_form.roleAdmin.html.twig') }}
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary" href="{{ path('app_sorties_index') }}">Liste des sorties</a>
                    {{ include('sorties/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
