{% extends 'base.html.twig' %}

{% block title %}Mes sorties{% endblock %}

{% block body %}
    <h1 class="text-center m-2">Mes Sorties</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if sorties is empty %}
                    <p>Aucune sortie trouvée.</p>
                {% else %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date de Début</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sortie in sorties %}
                            <tr>
                                <td>
                                    <p>{{ sortie.nom }}</p>
                                </td>
                                <td>{{ sortie.dateDebut|date('d/m/Y H:i') }}</td>
                                <td>
                                    <a href="{{ path('app_sorties_show', {'id': sortie.id}) }}" class="btn btn-outline-primary">Détails</a>
                                    {% if sortie.noEtat.id == 1 %}
                                    <a href="{{ path('app_sorties_publication', {'id': sortie.id} ) }}" class="btn btn-success ms-2">Publier</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}