/* Styles de base pour tous les écrans */

body {
    font-family: 'Source Sans 3', sans-serif;
    background-image: url("/uploads/photos/ivoryBackground.jpg");
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #2A3440;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2, h3, h4 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

ul {
    list-style-type: none;
}

.card {
    max-width: 18rem;
    margin: auto;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card.show-card {
    opacity: 1;
    transform: translateY(0);
}

.card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.row-cols-md-5 > .col {
    flex: 0 0 20%;
    max-width: 20%;
}

.filters {
    display: flex;
    justify-content: space-around;
    width: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.table {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table thead th {
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
}

.table tbody tr {
    border-bottom: 1px solid #dee2e6;
}

header {
    padding: 20px;
    text-align: center;
}

nav {
    height: 80px;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
}

.navbar-logo{
    height: 60px;
    width: auto;
}

.search-box {
    background-color: #2A3440;
    padding: 20px;
    color: ivory;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin: 20px auto;
    max-width: 700px;
}

.logo {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.logo.animate-logo {
    opacity: 1;
    transform: translateY(0);
}

.signup-button {
    background-color: #0B5ED7;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}
.signup-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
    gap: 20px; /* Espacement entre les colonnes */
    margin-bottom: 40px; /* Espace sous la grille */
}

.info-section {
    padding: 20px;
    border-radius: 8px;
}

.map-section {
    padding: 20px;
}

.participants-section {
    max-width: 800px;
    width: 100%;
}

.participants-section table {
    margin-top: 20px;
}

.checkbox-container {
    background-color: rgba(255, 255, 255, 0.2); /* Fond blanc avec 20% d'opacité */
    padding: 20px; /* Pour ajouter un peu d'espace autour du contenu */
    border-radius: 10px; /* Pour arrondir les coins du conteneur */
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonnes */
    gap: 10px; /* Espacement entre les checkboxes */
    justify-items: center; /* Centrer les items */
    margin-top: 20px;
}

.checkbox-item {
    display: flex;
    align-items: center;
}

.checkbox-item label {
    margin-left: 8px;
}

.checkbox-item input {
    margin-right: 5px; /* Espacement entre la case et le texte */
    transform: scale(1.2); /* Pour agrandir un peu les checkboxes si tu le souhaites */
}


@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 15px;
    }

    .row-cols-md-5 > .col {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    nav {
        text-align: right;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
    }

    .navbar-nav .nav-item .nav-link {
        color: white;
        padding: 10px 15px;
    }

    .navbar-nav .nav-item .nav-link:hover {
        background-color: #495057;
        color: #ffffff;
    }

    .collapse.navbar-collapse {
        width: auto;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #343a40;
    }

}

/* Styles pour les mobiles (écrans jusqu'à 767px) */
@media (max-width: 767px) {
    .navbar-brand {
        margin-left: 50px;
    }

    .navbar-nav {
        margin-left: auto;
        margin-right: 70px;
    }

    .nav-link {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
    }

    .nav-item {
        margin-left: 20px;
        margin-right: 20px;
    }

    .row-cols-md-5 > .col {
        flex: 0 0 50%;
        max-width: 50%;
    }

}

