<form method="post" action="{{ path('app_groupe_prive_delete', {'id': groupe_prive.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ groupe_prive.id) }}">
    <button class="btn btn-danger ms-2"
            style="display: inline-block;">Delete</button>
</form>
