{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success ms-2"
            style="display: inline-block;">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
