{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter des participants au groupe privé</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('app_groupe_prive_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
