{% extends 'base.html.twig' %}

{% block title %}Modifier Groupe{% endblock %}

{% block body %}
    <h1>Modifier Groupe</h1>

    {{ include('groupe_prive/_form.html.twig', {'button_label': 'Update'}) }}
    <a class="btn btn-success ms-2" href="{{ path('app_groupe_prive_addParticipants', {'id': groupe_prive.id}) }}">Ajouter des Participants</a>
    <a class="btn btn-success ms-2" href="{{ path('app_groupe_prive_index') }}">back to list</a>

    {{ include('groupe_prive/_delete_form.html.twig') }}
{% endblock %}
