{% extends 'base.html.twig' %}

{% block title %}Groupes Privés{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Groupes Privés</h1>

        <div class="card shadow-sm">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for groupe_prive in groupe_prives %}
                        <tr>
                            <td>{{ groupe_prive.label }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{{ path('app_groupe_prive_show', {'id': groupe_prive.id}) }}">Détails</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2" class="text-center">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-center mt-3">
            <a class="btn btn-success" href="{{ path('app_groupe_prive_new') }}">Créer un nouveau groupe</a>
        </div>
    </div>
{% endblock %}
