<form method="post" action="{{ path('app_lieux_delete', {'id': lieux.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce lieu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieux.id) }}">
    <button class="btn btn-danger ms-2">Supprimer</button>
</form>
